<div class="center">
  <ng-container *ngIf="!loading" >
    <div class="card" style="width: 18rem;">
      <img src="{{product?.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product?.title}}</h5>
        <p class="card-text">{{product?.description}}</p>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="loading">
    <i [ngStyle]="{'display': 'flex', 'justify-content': 'center', 'align-items': 'center', 'margin': 'auto', 'height': '100vh', 'font-weight': 'bold'}">Is Loading...</i>
  </ng-container>
  
  